$font1: "Cormorant Garamond";

$font2: "Merriweather";

$font3: "Prata";

h1{
    font-family: $font1;
}

body{
    background-color: beige;
}

*{
    margin: 0;
    transition: ease-in-out 0.15s;
}

// headerrrrrr

.header1{
    max-width: 1440px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    
}

header img{
    width: 40px;
}

header a{
    align-items: center;
    text-decoration: none;
    font-family: $font1;
    font-weight: 600;
    color: black;
}

.logorelou{
  display: flex;
  align-items: center;
  max-width: 1440px;
justify-content: center;
margin-top: 30px;
padding-left: 20px;
}

.header1 img{
    width: 90px;
}

//footer
footer{
    max-width: 1440px;
    justify-self: center;
    font-family: $font1;
}